<div class="row imageRow">
  <div class="col-md-12">
      <img [src]="detailItem?.imagePath" alt="{{detailItem?.name}}" class="img-fluid">
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <h2 class="h2">{{detailItem?.name}}</h2>
  </div>
</div>

<div class="row">
    <div class="col-md-12">
      <div class="dropdown" appDropdown >
        <button 
        class="btn btn-secondary dropdown-toggle" 
        type="button"
        >
          Manage Recipe
        </button>
        <div class="dropdown-menu" id="dropdownMenuButton">
          <a class="dropdown-item" (click)="addToshopppingList()">To Shopping List</a>
          <a class="dropdown-item" (click)="loadEditRecipe()" >Edit Recipe</a>
          <a class="dropdown-item" (click)="deleteRecipe()" >Delete Recipe</a>
        </div>
      </div>
    </div>
  </div>

<div class="row">
  <div class="col-md-12">
    {{detailItem?.description}}
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li 
      class="list-group-item"
      *ngFor="let ingredient of detailItem.ingredients"
      >{{ingredient.amount}} => {{ingredient.name}}</li>
    </ul>
  </div>
</div>
