<div class="row">
  <div class="col-md-12">

    <form>
      <div class="row">
        <div class="col-sm-5 form-group">
          <label for="inputName">Name</label>
          <input type="text" class="form-control" id="inputName">
          </div>
        <div class="col-sm-3 form-group">
          <label for="inputAmount">Amount</label>
          <input type="number" class="form-control" id="inputAmount">
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <button type="submit" class="btn btn-success">Add</button>
          <button type="button" class="btn btn-danger" >Delete</button>
          <button type="button" class="btn btn-primary">Clear</button>
        </div>
      </div>  
    </form>

  </div>
</div>